Source: iceowl-l10n
Section: web
Priority: optional
Maintainer: Daniel Baumann <daniel@debian.org>
Build-Depends: debhelper (>= 7)
Build-Depends-Indep: unzip, zip
Standards-Version: 3.8.0
Vcs-Browser: http://git.debian.net/?p=debian/iceowl-l10n.git
Vcs-Git: git://git.debian.net/git/debian/iceowl-l10n.git

Package: iceowl-l10n-all
Architecture: all
Depends: iceowl-l10n-ca, iceowl-l10n-cs, iceowl-l10n-da, iceowl-l10n-de, iceowl-l10n-es-ar, iceowl-l10n-es-es, iceowl-l10n-eu, iceowl-l10n-fr, iceowl-l10n-ga-ie, iceowl-l10n-hu, iceowl-l10n-it, iceowl-l10n-ja, iceowl-l10n-ka, iceowl-l10n-ko, iceowl-l10n-lt, iceowl-l10n-mk, iceowl-l10n-mn, iceowl-l10n-nb-no, iceowl-l10n-nl, iceowl-l10n-pa-in, iceowl-l10n-pl, iceowl-l10n-pt-br, iceowl-l10n-pt-pt, iceowl-l10n-ru, iceowl-l10n-sk, iceowl-l10n-sl, iceowl-l10n-sv-se, iceowl-l10n-tr, iceowl-l10n-uk, iceowl-l10n-zh-cn, iceowl-l10n-gl-es
Description: All language packages for Iceowl (meta)
 Iceowl is a Mozilla Based Calendar application. The goal is to produce a cross
 platform stand alone Calendar application using the XUL user interface
 language. Iceowl leaves a somewhat smaller memory footprint than the Mozilla
 suite.
 .
 This package is a meta package depending on all available localization of
 Iceowl.

# localizations

Package: iceowl-l10n-ca
Architecture: all
Depends: iceowl (>= 0.8), iceowl (<= 1.0)
Conflicts: iceowl-l10n-roa-es-val
Replaces: iceowl-l10n-roa-es-val
Recommends: myspell-ca
Description: Catalan/Valencian language package for Iceowl
 Iceowl is a Mozilla Based Calendar application. The goal is to produce a cross
 platform stand alone Calendar application using the XUL user interface
 language. Iceowl leaves a somewhat smaller memory footprint than the Mozilla
 suite.
 .
 This package contains the localization of Iceowl in Catalan/Valencian.

Package: iceowl-l10n-cs
Architecture: all
Depends: iceowl (>= 0.8), iceowl (<= 1.0)
Recommends: myspell-cs-cz
Description: Czech language package for Iceowl
 Iceowl is a Mozilla Based Calendar application. The goal is to produce a cross
 platform stand alone Calendar application using the XUL user interface
 language. Iceowl leaves a somewhat smaller memory footprint than the Mozilla
 suite.
 .
 This package contains the localization of Iceowl in Czech.

Package: iceowl-l10n-da
Architecture: all
Depends: iceowl (>= 0.8), iceowl (<= 1.0)
Recommends: myspell-da
Description: Danish language package for Iceowl
 Iceowl is a Mozilla Based Calendar application. The goal is to produce a cross
 platform stand alone Calendar application using the XUL user interface
 language. Iceowl leaves a somewhat smaller memory footprint than the Mozilla
 suite.
 .
 This package contains the localization of Iceowl in Danish.

Package: iceowl-l10n-de
Architecture: all
Depends: iceowl (>= 0.8), iceowl (<= 1.0)
Recommends: myspell-de-de | myspell-de-at | myspell-de-ch
Description: German language package for Iceowl
 Iceowl is a Mozilla Based Calendar application. The goal is to produce a cross
 platform stand alone Calendar application using the XUL user interface
 language. Iceowl leaves a somewhat smaller memory footprint than the Mozilla
 suite.
 .
 This package contains the localization of Iceowl in German.

Package: iceowl-l10n-es-ar
Architecture: all
Depends: iceowl (>= 0.8), iceowl (<= 1.0)
Recommends: myspell-es
Description: Spanish (Argentina) language package for Iceowl
 Iceowl is a Mozilla Based Calendar application. The goal is to produce a cross
 platform stand alone Calendar application using the XUL user interface
 language. Iceowl leaves a somewhat smaller memory footprint than the Mozilla
 suite.
 .
 This package contains the localization of Iceowl in Spanish (Argentina).

Package: iceowl-l10n-es-es
Architecture: all
Depends: iceowl (>= 0.8), iceowl (<= 1.0)
Recommends: myspell-es
Description: Spanish (Spain) language package for Iceowl
 Iceowl is a Mozilla Based Calendar application. The goal is to produce a cross
 platform stand alone Calendar application using the XUL user interface
 language. Iceowl leaves a somewhat smaller memory footprint than the Mozilla
 suite.
 .
 This package contains the localization of Iceowl in Spanish (Spain).

Package: iceowl-l10n-eu
Architecture: all
Depends: iceowl (>= 0.8), iceowl (<= 1.0)
Description: Basque language package for Iceowl
 Iceowl is a Mozilla Based Calendar application. The goal is to produce a cross
 platform stand alone Calendar application using the XUL user interface
 language. Iceowl leaves a somewhat smaller memory footprint than the Mozilla
 suite.
 .
 This package contains the localization of Iceowl in Basque.

Package: iceowl-l10n-fr
Architecture: all
Depends: iceowl (>= 0.8), iceowl (<= 1.0)
Recommends: myspell-fr | myspell-fr-gut
Description: French language package for Iceowl
 Iceowl is a Mozilla Based Calendar application. The goal is to produce a cross
 platform stand alone Calendar application using the XUL user interface
 language. Iceowl leaves a somewhat smaller memory footprint than the Mozilla
 suite.
 .
 This package contains the localization of Iceowl in French.

Package: iceowl-l10n-ga-ie
Architecture: all
Depends: iceowl (>= 0.8), iceowl (<= 1.0)
Description: Irish (Ireland) language package for Iceowl
 Iceowl is a Mozilla Based Calendar application. The goal is to produce a cross
 platform stand alone Calendar application using the XUL user interface
 language. Iceowl leaves a somewhat smaller memory footprint than the Mozilla
 suite.
 .
 This package contains the localization of Iceowl in Irish (Ireland).

Package: iceowl-l10n-hu
Architecture: all
Depends: iceowl (>= 0.8), iceowl (<= 1.0)
Recommends: myspell-hu
Description: Hungarian language package for Iceowl
 Iceowl is a Mozilla Based Calendar application. The goal is to produce a cross
 platform stand alone Calendar application using the XUL user interface
 language. Iceowl leaves a somewhat smaller memory footprint than the Mozilla
 suite.
 .
 This package contains the localization of Iceowl in Hungarian.

Package: iceowl-l10n-it
Architecture: all
Depends: iceowl (>= 0.8), iceowl (<= 1.0)
Recommends: myspell-it
Description: Italian language package for Iceowl
 Iceowl is a Mozilla Based Calendar application. The goal is to produce a cross
 platform stand alone Calendar application using the XUL user interface
 language. Iceowl leaves a somewhat smaller memory footprint than the Mozilla
 suite.
 .
 This package contains the localization of Iceowl in Italian.

Package: iceowl-l10n-ja
Architecture: all
Depends: iceowl (>= 0.8), iceowl (<= 1.0)
Description: Japanese language package for Iceowl
 Iceowl is a Mozilla Based Calendar application. The goal is to produce a cross
 platform stand alone Calendar application using the XUL user interface
 language. Iceowl leaves a somewhat smaller memory footprint than the Mozilla
 suite.
 .
 This package contains the localization of Iceowl in Japanese.

Package: iceowl-l10n-ka
Architecture: all
Depends: iceowl (>= 0.8), iceowl (<= 1.0)
Description: Georgian language package for Iceowl
 Iceowl is a Mozilla Based Calendar application. The goal is to produce a cross
 platform stand alone Calendar application using the XUL user interface
 language. Iceowl leaves a somewhat smaller memory footprint than the Mozilla
 suite.
 .
 This package contains the localization of Iceowl in Georgian.

Package: iceowl-l10n-ko
Architecture: all
Depends: iceowl (>= 0.8), iceowl (<= 1.0)
Description: Korean language package for Iceowl
 Iceowl is a Mozilla Based Calendar application. The goal is to produce a cross
 platform stand alone Calendar application using the XUL user interface
 language. Iceowl leaves a somewhat smaller memory footprint than the Mozilla
 suite.
 .
 This package contains the localization of Iceowl in Korean.

Package: iceowl-l10n-lt
Architecture: all
Depends: iceowl (>= 0.8), iceowl (<= 1.0)
Recommends: myspell-lt
Description: Lithuanian language package for Iceowl
 Iceowl is a Mozilla Based Calendar application. The goal is to produce a cross
 platform stand alone Calendar application using the XUL user interface
 language. Iceowl leaves a somewhat smaller memory footprint than the Mozilla
 suite.
 .
 This package contains the localization of Iceowl in Lithuanian.

Package: iceowl-l10n-mk
Architecture: all
Depends: iceowl (>= 0.8), iceowl (<= 1.0)
Description: Macedonian language package for Iceowl
 Iceowl is a Mozilla Based Calendar application. The goal is to produce a cross
 platform stand alone Calendar application using the XUL user interface
 language. Iceowl leaves a somewhat smaller memory footprint than the Mozilla
 suite.
 .
 This package contains the localization of Iceowl in Macedonian.

Package: iceowl-l10n-mn
Architecture: all
Depends: iceowl (>= 0.8), iceowl (<= 1.0)
Description: Mongolian language package for Iceowl
 Iceowl is a Mozilla Based Calendar application. The goal is to produce a cross
 platform stand alone Calendar application using the XUL user interface
 language. Iceowl leaves a somewhat smaller memory footprint than the Mozilla
 suite.
 .
 This package contains the localization of Iceowl in Mongolian.

Package: iceowl-l10n-nb-no
Architecture: all
Depends: iceowl (>= 0.8), iceowl (<= 1.0)
Recommends: myspell-nb
Description: Bokmaal (Norway) language package for Iceowl
 Iceowl is a Mozilla Based Calendar application. The goal is to produce a cross
 platform stand alone Calendar application using the XUL user interface
 language. Iceowl leaves a somewhat smaller memory footprint than the Mozilla
 suite.
 .
 This package contains the localization of Iceowl in Bokmaal (Norway).

Package: iceowl-l10n-nl
Architecture: all
Depends: iceowl (>= 0.8), iceowl (<= 1.0)
Recommends: myspell-nl
Description: Dutch language package for Iceowl
 Iceowl is a Mozilla Based Calendar application. The goal is to produce a cross
 platform stand alone Calendar application using the XUL user interface
 language. Iceowl leaves a somewhat smaller memory footprint than the Mozilla
 suite.
 .
 This package contains the localization of Iceowl in Dutch.

Package: iceowl-l10n-pa-in
Architecture: all
Depends: iceowl (>= 0.8), iceowl (<= 1.0)
Description: Punjabi (India) language package for Iceowl
 Iceowl is a Mozilla Based Calendar application. The goal is to produce a cross
 platform stand alone Calendar application using the XUL user interface
 language. Iceowl leaves a somewhat smaller memory footprint than the Mozilla
 suite.
 .
 This package contains the localization of Iceowl in Punjabi (India).

Package: iceowl-l10n-pl
Architecture: all
Depends: iceowl (>= 0.8), iceowl (<= 1.0)
Recommends: myspell-pl
Description: Polish language package for Iceowl
 Iceowl is a Mozilla Based Calendar application. The goal is to produce a cross
 platform stand alone Calendar application using the XUL user interface
 language. Iceowl leaves a somewhat smaller memory footprint than the Mozilla
 suite.
 .
 This package contains the localization of Iceowl in Polish.

Package: iceowl-l10n-pt-br
Architecture: all
Depends: iceowl (>= 0.8), iceowl (<= 1.0)
Recommends: myspell-pt-br | myspell-pt
Description: Portuguese (Brazil) language package for Iceowl
 Iceowl is a Mozilla Based Calendar application. The goal is to produce a cross
 platform stand alone Calendar application using the XUL user interface
 language. Iceowl leaves a somewhat smaller memory footprint than the Mozilla
 suite.
 .
 This package contains the localization of Iceowl in Portuguese (Brazil).

Package: iceowl-l10n-pt-pt
Architecture: all
Depends: iceowl (>= 0.8), iceowl (<= 1.0)
Recommends: myspell-pt-pt | myspell-pt
Description: Portuguese (Portugal) language package for Iceowl
 Iceowl is a Mozilla Based Calendar application. The goal is to produce a cross
 platform stand alone Calendar application using the XUL user interface
 language. Iceowl leaves a somewhat smaller memory footprint than the Mozilla
 suite.
 .
 This package contains the localization of Iceowl in Portuguese (Portugal).

Package: iceowl-l10n-ru
Architecture: all
Depends: iceowl (>= 0.8), iceowl (<= 1.0)
Recommends: myspell-ru
Description: Russian language package for Iceowl
 Iceowl is a Mozilla Based Calendar application. The goal is to produce a cross
 platform stand alone Calendar application using the XUL user interface
 language. Iceowl leaves a somewhat smaller memory footprint than the Mozilla
 suite.
 .
 This package contains the localization of Iceowl in Russian.

Package: iceowl-l10n-sk
Architecture: all
Depends: iceowl (>= 0.8), iceowl (<= 1.0)
Recommends: myspell-sk
Description: Slovak language package for Iceowl
 Iceowl is a Mozilla Based Calendar application. The goal is to produce a cross
 platform stand alone Calendar application using the XUL user interface
 language. Iceowl leaves a somewhat smaller memory footprint than the Mozilla
 suite.
 .
 This package contains the localization of Iceowl in Slovak.

Package: iceowl-l10n-sl
Architecture: all
Depends: iceowl (>= 0.8), iceowl (<= 1.0)
Recommends: myspell-sl
Description: Slovenian language package for Iceowl
 Iceowl is a Mozilla Based Calendar application. The goal is to produce a cross
 platform stand alone Calendar application using the XUL user interface
 language. Iceowl leaves a somewhat smaller memory footprint than the Mozilla
 suite.
 .
 This package contains the localization of Iceowl in Slovenian.

Package: iceowl-l10n-sv-se
Architecture: all
Depends: iceowl (>= 0.8), iceowl (<= 1.0)
Recommends: myspell-sv-se
Description: Swedish (Sweden) language package for Iceowl
 Iceowl is a Mozilla Based Calendar application. The goal is to produce a cross
 platform stand alone Calendar application using the XUL user interface
 language. Iceowl leaves a somewhat smaller memory footprint than the Mozilla
 suite.
 .
 This package contains the localization of Iceowl in Swedish (Sweden).

Package: iceowl-l10n-tr
Architecture: all
Depends: iceowl (>= 0.8), iceowl (<= 1.0)
Description: Turkish language package for Iceowl
 Iceowl is a Mozilla Based Calendar application. The goal is to produce a cross
 platform stand alone Calendar application using the XUL user interface
 language. Iceowl leaves a somewhat smaller memory footprint than the Mozilla
 suite.
 .
 This package contains the localization of Iceowl in Turkish.

Package: iceowl-l10n-uk
Architecture: all
Depends: iceowl (>= 0.8), iceowl (<= 1.0)
Description: Ukrainian language package for Iceowl
 Iceowl is a Mozilla Based Calendar application. The goal is to produce a cross
 platform stand alone Calendar application using the XUL user interface
 language. Iceowl leaves a somewhat smaller memory footprint than the Mozilla
 suite.
 .
 This package contains the localization of Iceowl in Ukrainian.

Package: iceowl-l10n-zh-cn
Architecture: all
Depends: iceowl (>= 0.8), iceowl (<= 1.0)
Description: Chinese (China) language package for Iceowl
 Iceowl is a Mozilla Based Calendar application. The goal is to produce a cross
 platform stand alone Calendar application using the XUL user interface
 language. Iceowl leaves a somewhat smaller memory footprint than the Mozilla
 suite.
 .
 This package contains the localization of Iceowl in Chinese (China).

# Unofficial localizations

Package: iceowl-l10n-gl-es
Architecture: all
Depends: iceowl (>= 0.8), iceowl (<= 1.0)
Description: Galician language package for Iceowl
 Iceowl is a Mozilla Based Calendar application. The goal is to produce a cross
 platform stand alone Calendar application using the XUL user interface
 language. Iceowl leaves a somewhat smaller memory footprint than the Mozilla
 suite.
 .
 This package contains the localization of Iceowl in Galician.
